@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #1e19b1;
  --gray1: #a1a1a1;
  --gray2: #a6a6a6;
  --gray3: #d9d9d9;
  --gray4: #5c5c5c;
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--foreground);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hero {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-spce-grotesk);
}

.hero1 {
  font-size: 2.5rem;
}

.hero2 {
  font-size: 2.5rem;
}

.hero3 {
  font-size: 2.5rem;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            
}