@import "tailwindcss";
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #1e19b1;
  --gray1: #a1a1a1;
  --gray2: #a6a6a6;
  --gray3: #d9d9d9;
  --gray4: #5c5c5c;
  --system-font:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: var(--system-font);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--foreground);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #0000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--system-font);
}

html {
  scroll-behavior: smooth;
}

.hero {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--system-font);
}

.hero1 {
  font-size: 2.5rem;
}

.hero2 {
  font-size: 2.5rem;
}

.hero3 {
  font-size: 2.5rem;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: var(--gradient-action);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
