.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem; 
    max-width: 1000px; 
    margin: 0rem auto;
    text-align: center;
}


.hero-title{
    font-size: 3rem;
    font-weight: 700;
    background: var(--gradient-bl1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--system-font);
}

.hero-subtitle{
    font-size: 1rem;
    font-weight: 200;
    color: #111827;
    font-family: var(--system-font);
    padding: 0 15rem;
}

.hero-blog-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 14rem;
}