.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 1rem; 
    color: white; 
}


.footer-logo {
    font-size: 1.25rem; 
    font-weight: bold; 
    margin-bottom: 0.5rem; 
}


.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 1rem;
    margin-bottom: 0.9rem; 
    width: 35px; 
    height: 35px; 
    padding: 0.5rem;
    background-color: var(--gray3); 
    border-radius: 50%;
}

.footer-line {
    width: 90%;
    height: 5px;
    background: var(--gradient-line-1), var(--gradient-line-2); /* Set the color of the line */
    margin: 0.5rem 0; /* Optional: Add some margin for spacing */
}