:root {
  --gradient-logo: linear-gradient(
    0deg,
    rgba(8, 5, 91, 1) 2%,
    rgba(107, 102, 227, 1) 100%
  );
  --gradient-spot: radial-gradient(
    circle,
    #c886c9 20%,
    #1e19b1 10%,
    #d9d9d9 0%
  );
  --gradient-bl1: linear-gradient(180deg, #000000 0%, #5c5c5c 100%);
  --gradient-b1: linear-gradient(180deg, #4a3d92 0%, #547bc5 47%, #99b4f9 100%);
  --gradient-action: linear-gradient(
    180deg,
    #26177d 0%,
    #547bc5 50%,
    #99b4f9 100%
  );
  --gradient-b2: linear-gradient(-99deg, #6b66e3 0%, #1e19b1 100%);
  --gradient-b3: linear-gradient(180deg, #1e19b1 0%, #a1a1a1 100%);
  --gradient-line-1: linear-gradient(90deg, #3d87f5 0%, #9c32e3 100%);
  --gradient-line-2: linear-gradient(90deg, #98cdf9 0%, #1e19b1 100%);
  --gradient-proj1: linear-gradient(30deg, #3d87f5 0%, #9c32e3 100%);
  --gradient-proj2: linear-gradient(100deg, #98cdf9 0%, #1e19b1 100%);
  --gradient-proj3: linear-gradient(165deg, #f5cdeb 0%, #ff8de6 100%);
  --gradient-proj4: linear-gradient(
    122deg,
    #98cdf9 0%,
    #799fe6 22%,
    #1e19b1 100%
  );
  --gradient-search: linear-gradient(
    103deg,
    #d0d4dd 0%,
    #3e76cc 54%,
    #1e19b1 100%
  );
}
