
:root{
    --gradient-logo: linear-gradient(0deg, rgba(8, 5, 91, 1) 2%, rgba(107, 102, 227, 1) 100%);
    --gradient-spot: radial-gradient(circle, #C886C9 20%, #1E19B1 10%, #D9D9D9 0%);
    --gradient-bl1: linear-gradient(0deg, #ff0080 0%, #ff8c00 100%);
    --gradient-b1: linear-gradient(180deg, #4A3D92 0%, #547BC5 47%, #99B4F9 100%);
    --gradient-b2: linear-gradient(90deg, #6B66E3 0%, #1E19B1 100%);;
    --gradient-b3: linear-gradient(90deg, #ff0080 0%, #ff8c00 100%);
    --gradient-line-1:  linear-gradient(90deg, #3D87F5 0%, #9C32E3 100%);
    --gradient-line-2: linear-gradient(90deg, #98CDF9 0%, #1E19B1 100%);;
}