@import "tailwindcss";

.navbar-logo-text{
    background: var(--gradient-logo);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-space-grotesk);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.5rem;
    margin: 2.5rem 12.5rem; 
    border-radius: 9999px; 
    border: 1px solid var(--gray3); /* border-[var(--gray3)] border-1 */
}

@media (max-width: 1200px) {
    .navbar-container {
        margin: 2.5rem 7.75rem; /* mx-15 my-10 */
    }
}

@media (max-width: 768px) {
    .navbar-container {
        margin: 2.5rem 2.5rem; /* mx-10 my-10 */
    }
}

.nav-item {
  color: var(--gray1);
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--system-font);
}

.nav-item:hover {
  color: var(--secondary);
}

.nav-button {
    font-family: var(--system-font);
    font-weight: 200;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    background: var(--gradient-b2);
    color: white; 
    border-radius: 10px; 
    padding: 0.2rem 1.4rem; 
    cursor: pointer; 
  }
  
.nav-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }